<div id="<%= dom_id team %>">
  <h1 class="text-3xl font-bold text-stone-900 dark:text-white my-5 text-center">Equipo: <%= @team.name %></h1>
  <%= link_to "Agregar jugador", new_player_path(category_id: team.category_id), class: "rounded-lg text-stone-900 py-3 px-5 bg-gray-100 hover:bg-rose-500 hover:text-white d-block w-100" %>

  <p class="my-5 text-stone-900 dark:text-white">
    <strong class="block font-medium mb-1">Categoría:</strong>
    <%= link_to Category.find(team.category_id).name, category_path(team.category_id), class: "hover:underline" %>
  </p>

  <div class="container mx-auto p-4">
    

    <div class="flex items-center mb-4">
      <%= image_tag @team.logo, class: 'h-40 w-40 rounded-full mr-4' %>
    </div>

    <h2 class="text-2xl text-black dark:text-gray-200 font-bold mb-2">Jugadores</h2>

    <table class="min-w-full divide-y divide-gray-200">
      <thead>
        <tr>
          <th class="px-6 py-3 bg-gray-50 dark:bg-stone-900 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre</th>
          <th class="px-6 py-3 bg-gray-50 dark:bg-stone-900 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Curp</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-y-gray-200">
        <% @team.players.each do |player| %>
        <tr class="bg-gray-50 dark:bg-stone-900">
          <td class="px-6 py-4 text-black dark:text-gray-200 whitespace-nowrap">
            <%= link_to player.name, player, class: "p-3 bg-rose-500 hover:bg-rose-700 rounded-lg" %>
              
            </td>
          <td class="px-6 py-4 whitespace-nowrap text-black dark:text-gray-200 max-w-[200px]">
            <%= player.curp %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
