<div class="mx-auto md:w-2/3 w-full flex mt-10">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <h1 class="text-stone-900 dark:text-white text-4xl text-center">Perfil de jugador</h1>

    <%= render @player %>

    <%= link_to "Editar jugador", edit_player_path(id: @player.id, category_id: Team.find(@player.team_id).category_id), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Volver a jugadores", players_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Borrar jugador", @player, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
