<div class="container mx-auto py-8">
  <div class="max-w-lg mx-auto bg-white shadow-md rounded-lg p-6">
    <h2 class="text-2xl font-bold text-gray-800 mb-4 text-center">Editar Partido</h2>
    <h3 class="text-xl font-semibold text-gray-700 mb-6 text-center"><%= @match.home_team.name %> vs <%= @match.away_team.name %></h3>
    <%= link_to "Volver a la categoría", category_path(@match.season.category), class: "bg-gray-500 hover:bg-gray-700 text-white d-block w-100 font-bold py-2 px-4 rounded" %>
    <%= form_with model: @match, local: true, class: "space-y-4" do |form| %>
      <div>
        <%= form.label :date, 'Fecha del partido', class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.date_field :date, class: 'block w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500', value: @match.date.strftime("%Y-%m-%d") %>
      </div>
      <div>
        <%= form.label :time, 'Hora del partido', class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.time_field :date, class: 'block w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500', value: @match.date.strftime("%H:%M") %>
      </div>
      <div>
        <%= form.label :home_score, 'Goles del equipo local', class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.number_field :home_score, class: 'block w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500', value: @match.home_score %>
      </div>
      <div>
        <%= form.label :away_score, 'Goles del equipo visitante', class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.number_field :away_score, class: 'block w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500', value: @match.away_score %>
      </div>
      <div class="field"> 
        <%= form.label :shotout, "Was the match decided by shotout?" %> 
        <%= form.check_box :shotout %> 
      </div>
      <% if @match.shotout %>
        <div class="field"> 
          <%= form.label :shoutout_winner, "Shotout Winner" %> 
          <%= form.collection_select :shoutout_winner, Match.shoutout_winners.keys, :to_s, :titleize %>
        </div>
      <% end %>
      <div class="text-center">
        <%= form.submit 'Guardar cambios', class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded' %>
      </div>
    <% end %>
  </div>
</div>
