<!DOCTYPE html>
<html>
  <head>
    <title>Un lugar para ti</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-red-100 dark:bg-stone-900">
    <%= render 'shared/navbar'%>
    <main class="container-fluid mx-auto px-5 flex bg-red-100 dark:bg-stone-900">
      <%= yield %>
    </main>
  </body>
</html>
